<h1>2</h1>

<h2>전공융합</h2>

<p> 저는 경제학 전공자입니다. 
    모든 것은 자본주의사회에서 경제적논리, 자기이익추구로 출발하고, 그러므로 프로그램 및 코딩도 경제 논리에서 자유로울 수 없습니다. 따라서 경제논리를 알고있는 전공자가 필요합니다. 경제학은 사회과학 중에 수치화와 수량화를 통하여 사회현상을 설명하는 학문이고 프로그래밍은 문제를 수리적으로 도식화시켜 결과를 내놓는 행위이므로 경제학은 분명 도움을 줄 수 있습니다. 또한 같은 수량화 수식화를 쓰는 이과학생보다 더 넓은 사회과학적 시야로, 단순히 현상을 설명하는 것에 그치지 않고 사회문제와 근본적인 이슈에 대한 탐구까지 가능합니다.
    
</p>

<p>리경제학은 흔히 접할 수 있는 일상생활부터 한 국가를 운영하는 매커니즘까지 우리의 생활과 불가분의 관계를 띄고 있다고 생각합니다. 따라서 세상을 보는 폭넓은 시야를 확보할 수 있다는 것이 제 전공의 큰 매력이라고 느낍니다. 생활전반에 밀접한 영향을 끼치고 있다는 점은 제 전공인 경제학과 개발의 공통점입니다. </p>

<p>
    공통점을 바탕으로 개발에 융합될 수 있다고 여기는 점은 '논리'입니다. 경제학은 특정 현상을 분석하는 과정에서 초기에 '가설'을 설정하고 이를 입증하는 논리적인 학문입니다. 개발 또한 복잡한 알고리즘을 통해 구성되어 있는 일련의 과정입니다. 하나의 루틴으로 프로시저가 형성되고 해당 과정에서 인과관계가 명확히 설정되어 있지 않다면 해당 논리연산자는 'FALSE'라는 결과값을 반환하기 때문입니다. 경제현상을 수치화하여 이를 분석하는 대표적 학문인 통계학 수업을 수강하며 프로그램을 가동하는 과정에서 빅데이터 분야에 관심이 생겼습니다. 멋쟁이사자처럼에서 배운 프로그래밍을 지식을 빅데이터 분석에 활용할 수 있을 것이라 생각합니다
</p>