<h1>3</h1>

<h2>아이디어</h2>

<p> 저는 평소 집에서 주로 시간을 보내고, 무언가를 꾸미고 정리하는 행위를 좋아합니다. 이러한 일상생활에서 불편함과 문제점을 느꼈고, 이것을 개선할 수 있는 서비스의 필요성을 절감했습니다.


</p>

<p>리버틴즈 내한해 내한 하셈 내한</p>

<p>
    그 예시는 다음과 같습니다.
</p>

<p>미니멀리즘이라는 요즘 트렌드를 위한 어플입니다. 
    크게 인간관계와 사물에 관한 정리로 나눌 수 있습니다.
    우선 인간관계 부분에서는 모든 메신저의 연락처에 대한 연락빈도를 추출하고와 최신 연락 날짜를 업데이트 하여 관계재고에 도움을 주는 방향으로 생각해보았습니다.
    </p>

<p>사물적으로도 위와 비슷하게 옷, 책 등의 소유물에 관한 사용빈도와 최적사용기간을 입력하여 물건 정리를 도와주는 방향입니다.</p>


<p>아직 아이디어는 미미하지만 미니멀리즘에 대한 사회적 수요를 따졌을때 충분한 시장가치가 있다고 판단됩니다.</p>

<p>이 외에도 요리나 음악같은 평소 관심사 분야에 관하여도 가볍게 생각해본 아이디어들이 더욱 많습니다. 하지만 아직은 막연한 아이디어의 상태입니다. 따라서  '멋사'활동을 통하여 프로그래밍을 배워 실제로 구현해보고 싶습니다.</p>